/* elevator.ethingtonsolutions.com styles by Samuel Ethington */


* {
    font-family:arial,helvetica,sans-serif;
    /*
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    vertical-align: baseline;
    background: transparent;
    */
}

.centered {
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item{
    width: 360px;
    height: auto;
    margin: 20px;
}

.left-col {
    display:inline-block;
    width:25%;
    min-height:400px;
    float:left;
}

.right-col {
    display:inline-block;
    width:70%;
    min-height:400px;
    float:right;
}

#adjusting-flex-container {
    display: flex;
    flex-wrap: wrap;
}

#adjusting-flex-group1 {
    align-self: flex-start;
    width: 100%;
}

#adjusting-flex-group2 {
    flex-direction:column;
    width: 33%;
}

#adjusting-flex-group3 {
    display: flex;
    flex-direction: column;
    width: 66%;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    background-color:blue;
    display:inline-flex;
}

header h1{
    font-size:1.25em;
}

nav{
    background-color:bisque;
    color:bisque;
    font-weight:bold;
    width:inherit;
    min-height: 100px;
    align-items: center;
}

nav ol li{
    display:inline-block;
    margin:0.5em;
}

aside{
    margin-top: 10em;
    margin-bottom: 4em;
}
main{
    margin-top: 10em;
    margin-bottom: 4em;
}

main h2{
    color:white;
    text-shadow: 2px 2px 5px #111111;
    box-shadow: 5px 5px 3px #888888;
    background:url(../img/elvator-background-2.jpg);
    background-position:center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:black;
    color:white;
    width:100%;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}
