/* elevator.ethingtonsolutions.com styles by Samuel Ethington */


* {
    font-family:arial,helvetica,sans-serif;
    /*
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    vertical-align: baseline;
    background: transparent;
    */
}

.centered {
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item{
    width: 360px;
    height: auto;
    margin: 20px;
}

#adjusting-flex-container {
    display: flex;
    flex-wrap: wrap;
}

#adjusting-flex-group1 {
    align-self: flex-start;
    width: 100%;
}

#adjusting-flex-group2 {
    flex-direction:column;
    width: 33%;
}

#adjusting-flex-group3 {
    display: flex;
    flex-direction: column;
    width: 66%;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    background-color:blue;
}

header h1{

}

nav{
    background-color:bisque;
    color:bisque;
    font-weight:bold;
    width:inherit;
}

nav ol li{
    display:inline-block;
    margin:0.5em;
}

main{
    margin-top: 10em;
    margin-bottom: 4em;
    width:100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:black;
    color:white;
    width:100%;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}
