/* elevator.ethingtonsolutions.com styles by Samuel Ethington */


* {
    font-family:arial,helvetica,sans-serif;
    /*
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    vertical-align: baseline;
    background: transparent;
    */
}

body {
    padding: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    outline: 0;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item{
    width: 360px;
    height: auto;
    margin: 20px;
}

header{
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    background-color:blue;
    height: 10%;
}

header a {
    float: left;
}

header h1{
    font-size:1.5em;
    text-shadow: 0px 0px 3px #ffffff;
    font-weight: 800;
    padding-top: 30px;
    height: 52px;
}

header ol li {
    font-size: 1.25em;
}

nav{
    background-color:bisque;
    color:bisque;
    font-weight:bold;
    width:inherit;
    min-height: 100px;
    align-items: center;
}

nav ol{
    padding: 1px 20px 1px 20px;
}

nav ol li{
    background-color:white;
    padding: 0.25em;
    border-style: solid;
    border-color: darkslategray;
    border-radius: 10px;
    border-width: thin;
}
nav ol li a {
    color: blue;
    text-shadow: 0px 0px 5px #ffffff;
}

aside{
    font-size: 1.20em;
    padding: 1px 10px 1px 10px;
}
main{
    font-size: 1.15em;
    padding: 1px 10px 1px 10px;
}

main h2{
    padding: 5px 5px 5px 20px;
    color:white;
    text-shadow: 0px 0px 5px #111111;
    box-shadow: 5px 5px 3px #888888;
    background:url(../img/elvator-background-2.jpg);
    background-position:center;
    max-width: 1400px;
}

main h3 {
    font-size: 1.33em;
}

footer{
    padding: 2px;
    height: 64px;
    clear:both;
    width: 100%;
    text-align: center;
    background-color:black;
    color:white;
    height: 10%;
}

button {
    color:white;
    background-color:blue;
    text-shadow: 0px 0px 5px #111111;
    font-size: 1.5em;
    border: 0;
}

#adjusting-flex-container {

}

#adjusting-flex-group1 {

}

#adjusting-flex-group2 {

}

#adjusting-flex-group3 {

}

#image-container {
    width: 360px;
    height: 240px;
    background: url(../img/blank-img-240x360.PNG);
}

#image-container img {
    position: relative;
    left: 50px;
    top: 25px;
    /*
    left: 148px;
    top: 88px;
    */
}

#adjusting-flex-group1 input {
    background-color:bisque;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    width:50px;
    text-align: center;
}

#adjusting-flex-group1 span {
    font-size: 1.5em;
}

@media screen and (min-width: 800px) {
    header {
        display: inline-flex;
    }

    header h1 {
        font-size: 2em;
        padding-top: 0;
        margin-top: 0;
        min-width: 8.5em;
    }

    nav ol li{
        display: inline-flex;
    }

    .left-col {
        display:inline-block;
        width:25%;
        min-height:400px;
        float:left;
    }

    .right-col {
        display:inline-block;
        width:70%;
        min-height:400px;
        float:right;
    }

    #adjusting-flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    #adjusting-flex-group1 {
        align-self: flex-start;
        width: 100%;
    }

    #adjusting-flex-group2 {
        flex-direction:column;
        width: 33%;
    }

    #adjusting-flex-group3 {
        display: flex;
        flex-direction: column;
        width: 66%;
    }
}
